{%extends "mystore/base.html"%}
{%block body_block%}
{%load staticfiles%}

<div class="container"></div>
<table align="center">
    <tr>
        <td valign="top" width='50%'>
            <h1>Khách Hàng</h1>
            <form action="." method="POST">
                <table>
                    {% for field in form %}
                    <tr>
                        <td>{{field.label}}</td>
                    <td>{{field}}</td>
                    </tr>
                    {% endfor %}
                    <tr><td colspan="2" align="center">
                        <p><input type="submit" value="Đặt Hàng" class="btn btn-primary"></p>
                    </td></tr>
                </table>
                {% csrf_token %}
            </form>
        </td>
        <td valign="top">
            <h1>Chi Tiết Đơn Hàng</h1>
            <ul>
                {% for item in cart  %}
                  <li>
                      {{item.quantity}} products x {{item.product.name}} = <span>{{item.total_fee}}</span>
                  </li>
                {% endfor %}
            </ul>
            <ul>Tổng: {{cart.get_total_fee}} VND</ul>
        </td>
    </tr>
</table>
{% endblock %}